%button {
    // min-width: 120px;
    padding: 6px 12px;
    border-radius: 5px;
    // margin: 10px;
    color: white;
}

.show-btn {
    @extend %button;
    background-color: rgb(29, 192, 192);
}

.hide-btn {
    @extend %button;
    background-color: chocolate;
}

.create-btn{
    @extend %button;
    background-color: rgb(33, 187, 33);
}

.submit-btn{
    @extend %button;
    background-color: teal;
    margin-top: 15px;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }