.input-styles{
    width: 450px;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px 12px;
}

.textarea-styles{
    @extend .input-styles;
    min-height: 200px;
    max-height: 400px;
    margin-top: 15px;
}