.input-styles {
    max-width: 450px;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px 12px;

    @media (max-width:480px) {
        width: 300px;
    }
}

.textarea-styles {
    @extend .input-styles;
    min-height: 200px;
    max-height: 400px;
    margin-top: 15px;

    &::-webkit-scrollbar{
        -webkit-appearance: none;
        width: 7px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: rgb(20 184 166);
        border-radius: 2px;
    }
}

