<div class="flex items-center mt-2 cursor-pointer" (click)="backToAllList()">
    <ng-icon name="bootstrapArrowLeft" class="ml-4 text-3xl"></ng-icon>
    <span class="ml-4 text-base">Back to all list</span>
</div>

<div *ngIf="isLoading" class="flex justify-center mt-4">
    <app-loader></app-loader>
</div>

<div class="flex justify-center mt-4 mb-2">
    <h1 class="text-xl">{{productDetailed.title}}</h1>
</div>

<section>
    <div *ngIf="!isLoading" class="flex flex-col border-2 rounded-lg m-auto w-[750px] mt-6">
        <ngb-carousel *ngIf="images" #carousel [interval]="1500" [pauseOnHover]="pauseOnHover"
            [pauseOnFocus]="pauseOnFocus">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                    <img class="w-[800px] h-[400px]" [src]="image" alt="Random first slide" />
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div *ngIf="!isLoading" class="flex justify-center mt-2 mb-2">
        <button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm w-[100px]">
            {{paused ? 'Cycle' : 'Pause' }}
        </button>
    </div>
    <div *ngIf="!isLoading" class="flex flex-col border-2 rounded-md m-auto w-[800px] bg-stone-200 p-2">
        <p>{{productDetailed.description}}</p>
        <p><span class="font-bold">Brand</span>: {{productDetailed.brand}}</p>
        <p><span class="font-bold">Price</span>: {{productDetailed.price | currency}}</p>
    </div>
</section>