/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-y:scroll;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.carousel-indicators .active {
    background-color: orangered;
  }
//   .carousel-control-prev-icon{
//     background-color: orangered;
//     border-radius: 50%;
//     padding: 2px;
//     width: 45px;
//     height: 45px;
//   }
// .flex-direction-column{
//   display: flex;
//   flex-direction: column;
// }

app-button{
  width:120px;
  // width:120px;
  width:fit-content;
}

.input-styles {
  max-width: 450px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 6px 12px;

  @media (max-width:480px) {
      width: 300px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0px;

  @media (max-width:480px) {
      width: 300px;
  }
}
